header {
  margin-top: 40px;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: black;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
}

.navigation li{
  list-style: none;
  display: inline;
  justify-content: center;
  padding-right: 30px;
}

.navigation li a {
  text-decoration: none;
  color: black;
}

.navigation li a:hover {
  color: grey;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.brand {
  color: white;
  font-size: 5rem;
}

div.tagline {
  margin: 20px;
  background-color: #ffffff;
  border: 0.5px solid black;
  opacity: 0.6;
}

div.tagline p {
  margin: 3%;
  font-weight: bold;
  color: #000000;
}

#about-section {
  height:500px;
  padding-top: 100px;

}

.parallax {
  /* The image used */
  background-image: url(images/main-image.jpg);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }


#storyBtn {
  padding: 10px;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}

img {
  max-height: 400px;
}

#nav-range {
  padding-bottom: 50px;
}

.catalogue ul {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
  list-style: none;
  }

.dress-buttons {
  border: none;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: grey;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Parallax Used */
.alterations-article {
  padding-top: 50px;
  padding-bottom: 50px;
  /* The image used */
  background-image: url(images/alterations.jpg);
  opacity: 0.9;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.alt-heading {
  color: white;
  font-size: 4rem;
}

div.altsummary {
  margin: 20px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

div.altsummary p {
  margin: 3%;
  font-weight: bold;
  color: #000000;
}

#alterationBtn {
  padding: 10px;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}

.contact-us-section {
  display: flex;
}

.contact-heading {
  text-align: center;
  padding-left: 20px;
}

.contact-information {
  list-style: none;
  text-align: left;
}

.contact-information li {
  font-family: Arial, Helvetica, sans-serif;
}

.contact-us-section {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}


h5 {
  font-size: 1rem;
}

.socials {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 100px;
  
}

.socials li img {
  max-height: 40px;
  padding-left: 20px;
}

.mailing-list-button {
  background-color: black;
  color: white;
  padding: 5px;
}

#upBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding-top: 10px; /* Some padding */
  padding-bottom: 15px;
  border-radius: 10px; /* Rounded corners */
  font-size: 25px; /* Increase font size */
}

#upBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(247, 247, 247); /* Fallback color */
  background-color: rgba(136, 136, 114, 0.4); /* Black w/ opacity */ 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-content ul li {
  list-style-type: none;
  text-align: left;
  font-style: italic;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}